@mixin clearfix {
    &::after{
        content : "";
        display : table;
        clear   : both;
    }
}

@mixin absCenter{
    position    : absolute;
    top         : 50%;
    left        : 50%;
    transform   : translate(-50%,-50%)
}

@mixin absCenterBottom{
    position    : absolute;
    bottom      : 0%;
    left        : 50%;
    transform   : translate(-50%,-50%)
}


//MEDIA QUERY MANAGER
/*
0 - 650px       :   Phone
650 - 900px     :   Tablet Potrait
650 - 1200px    :   Tablet Landscape
[1200 - 1800px] :   Med Desktop
1800px +        :   Big Desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-lans
- big-desktop

ORDER:  Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    // down
    @if $breakpoint == phone320 {
        @media only screen and (max-width: 20em) { @content };    //320px
    }
    @if $breakpoint == phone375 {
        @media only screen and (max-width: 23.44em) { @content };    //375px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 40.625em) { @content };    //650px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 60em) { @content };     //960px
    }
    @if $breakpoint == med-desktop {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}



// onclick='gtag("event", "Click", {"event_category": "Product Type", "event_label": "'.$row->nama.'", "value": 1});'

// ga('send', 'event', 'Product Type', 'Click', 'eventLabel', 1);